/* Estilos para el contenedor principal */
.game-settings {
  background-color: #000;
  border: 5px solid #f3c63a;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;

  /* Estilos para inputs */
  input[type="number"],
  input[type="password"],
  input[type="text"] {
    padding: 10px;
    border: 3px solid #f3c63a;
    border-radius: 10px;
    width: 250px;
    font-size: 18px;
    background-color: #000;
    color: #f3c63a;
  }

  small {
    color: #f3c63a;
  }

  /* Estilos para cada configuración */
  .setting {
    margin-bottom: 20px;

    /* Estilos para etiquetas */
    label {
      font-weight: bold;
      color: #f3c63a;
      font-size: 20px;
    }
    /* Estilos para inputs */
    input[type="checkbox"] {
      padding: 10px;
      border: 3px solid #f3c63a;
      border-radius: 10px;
      width: 250px;
      font-size: 18px;
      background-color: #000;
      color: #f3c63a;
    }
  }

  /* Estilos para cada configuración */
  .setting-inline {
    margin-bottom: 20px;

    /* Estilos para etiquetas */
    label {
      font-weight: bold;
      color: #f3c63a;
      font-size: 20px;
    }
    /* Estilos para inputs */
    input[type="checkbox"] {
      padding: 10px;
      border: 3px solid #f3c63a;
      border-radius: 10px;
      font-size: 18px;
      background-color: #000;
      color: #f3c63a;
    }
  }
}

.start-game-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Estilos para el botón de inicio */
  .start-game-btn {
    background-color: #f3c63a;
    color: #000;
    padding: 20px 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #ffeb3b;
    }

    &:disabled {
      background-color: #888;
      cursor: not-allowed;
    }
  }
}

/* Estilos para la lista de jugadores */
.player-list ul {
  list-style-type: none;
  padding: 0;
}

.player-list li {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f3c63a;
}

/* Estilos para el contenedor de nuevo jugador */
/* Estilos para el contenedor principal de configuración de jugadores */
.player-settings {
  background-color: transparent;
  border: 2px solid #f3c63a;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para el contenedor de nuevo jugador */
.new-player {
  margin-bottom: 20px;

  button {
    background-color: #f3c63a;
    color: #222;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ffeb3b;
    }
  }
}

/* Estilos para la lista de jugadores */
.player-list {
  color: #f3c63a;
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid;
  }
}

#pieceColorSelect > option:hover {
  background: green !important;
}
